html {
    font-size: 12px;
}

body {
    margin: 0;
}

header h1 {                         /* 1 + 1 = 2 */
    color: blue;
}

h1 {                                /* 1 */
    color: red; 
}

h1 {                                /* 1 */
    color: green;
}

body header h1 {
    color: orange;              /* 1 + 1 + 1 = 3 */
}

.main_title {                   /* 10 */
    color: pink;
}

h1.main_title {                 /* 1 + 10 = 11 */
    color: magenta;
}

header h1.main_title {          /* 1 + 1 + 10 = 12 */
    color:brown;
}

body header h1.main_title { /*1 + 1 + 1 +10 = 13 */
    color:aquamarine;
}

.main_title.main_title {   /* 10 + 10  = 20 */
    color:coral;
}

header.header h1.main_title { /* 1 + 10 + 1 + 10 = 22 */
    color:darkgreen;
}

body header.header h1.main_title {              /* 23 */
    color:darkkhaki;
}

.main_title.main_title.main_title {             /* 30 */
    color: red;
}

#main_title {                                   /* 100 */
    color:fuchsia;
}

body header.header #main_title {            /* 1 + 1 + 10 + 100 = 112 */
    color:greenyellow;
}

h1 {
    color: green !important;
}

body header.header #main_title {            /* 1 + 1 + 10 + 100 = 112 */
    color:greenyellow !important;
}


nav {
    margin: 10px 0;
    font-size: 1.5rem;
    background: gray;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color:black;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    background: rgb(75, 75, 75);
    text-decoration: underline;
} 

nav ul li a:active {
    color: cyan;
}

nav ul li::before {
    content: "";
    border: 2px solid white;
}

nav ul li:first-child a {   /*14*/
    color:aqua;
}

nav ul li:nth-child(4) a {
    color:aqua;
}

nav ul li:first-child a[aria-label='home'] {    /*24*/
    color: red;
}

nav:last-child {
    background-color: antiquewhite;
}